<div class="page-header">
  <h1>About <small>Falafel</small></h1>
</div>

<p>Falafel Software Inc., an 8 time Microsoft Gold Certified partner, has been providing
	custom software development, consultation, and training services worldwide since 2003.
	Our team of Microsoft Certified Professionals will exceed your expectations when you
	choose any of our services. Whether you need help moving to the cloud, a suite of
	mobile applications, or assistance with any of our partner's technology, the Falafel
	family is here to help.</p>